ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    cursor: pointer;
    list-style: none;
    padding: 12px 8px 12px 40px;
    background: #fcfcfc;
    font-size: 16px;
    font-weight: 300;
    transition: 0.2s;
  }
  
  ul li:hover {
    background: #ddd;
  } 

  /* "checked" is a class of the list items only when clicked */
ul li.checked {
  background: #f05dc1;
  color: #fff;
  text-decoration: line-through;
}

/* checkmark for checked list items */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}






